

/* desktop */
header {
    background: var(--dark-turk);
    color: white;
    /* border-bottom: 2px solid white; */
    height: 3rem;
    height: fit-content;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--l);
	margin-left: auto;
	margin-right: auto;

    .logo {
        font-size: 2rem;
        font-weight: 700;
    }

    nav a {
        margin: .5em;
    }

    nav a.active {
        color: var(--medium-turk);
        font-weight: bold;
    }

    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        padding-left: 100px;
        // color: $clr1;

        .score {
            // background-color: $clr2;
            // color: $clr6;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .user-info .btn-link {
        // color: $clr2;
    }
}

  /* tablet */
@media (max-width: 1060px) {
    .header-container {
		max-width: var(--m);
    }
}

 /* mobile */
@media (max-width: 780px) {
    .header-container {
        max-width: var(--s);
    }
}

