:root {
    --main-bg-color: lightblue;
    --dark-turk: #3F7C85;
    --medium-turk: #00CCBF;
    --light-turk: #72F2EB;
    --reds: #FF5F5D;
    --grays: #747E7E;

        /* bp */
        --s: 600px;
        --m: 740px;
        --l: 980px;
}