/* desktop */
.toy-list {
    padding: 0;
    flex-grow: 4;
    width: 75%;
    margin: auto;
}

.list-grid {
    gap: 10px;
    margin: 0 auto;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(185px,1fr));
}

.preview-container {
    border: 1px solid var(--medium-turk);
    border-radius: 8px;
    color: var(--dark-turk);
    /* max-width: 184px; */
    transition: 0.4s;
    margin: auto;
    justify-self: center;
    /* justify-content: center; */
    /* align-items: center; */
}

.preview-container:hover {
    background-color: rgb(231, 231, 231);
}

.toy-list *{
    margin: 5px;
}

.del-btn {
    background-color: var(--reds);
}

button.add-btn{
    background-color: var(--dark-turk);
    padding: 5px 8px;
}

button.add-btn:hover {
    cursor: pointer;
    background-color: var(--grays);
}


  /* tablet */
@media (max-width: 1060px) {
    .list-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    }

}

 /* mobile */
@media (max-width: 780px) {
    .list-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    }

}
