.toy-img {
    margin: auto;
}

.toyStatus, .toy-labels {
    text-transform: capitalize;
}

.toyStatus {
    color: white;
    width: fit-content;
    padding: 2px 8px;
    border-radius: 10px;
}

.available {
    background-color: rgb(133, 190, 133);
}

.unavailable {
    background-color: var(--reds);
}

.toy-labels {
    text-transform: capitalize;
}